final.json
[{"id":"598935a336bc77d2","type":"tab","label":"Sensor","disabled":false,"info":"","env":[]},{"id":"7beb524bdf8c93b0","type":"group","z":"598935a336bc77d2","name":"Arduino Input","style":{"label":true},"nodes":["70eb29a163b8cbc9","f2432977c12323e5","a49599bc04cd1bc8","d6cf103e63c2dbc8","f737960cd73dd338","8f4458b872e8173f","ac845c25460ab141","37e1a6e91bb4adbc"],"x":34,"y":39,"w":632,"h":202},{"id":"369e29461df146e1","type":"group","z":"598935a336bc77d2","name":"Errors","style":{"label":true},"nodes":["e4693ef2338f6c3c","b0c3cfd95df1e3b1"],"x":34,"y":479,"w":352,"h":82},{"id":"4db7b23d8d725815","type":"group","z":"598935a336bc77d2","name":"Notifications","style":{"label":true},"nodes":["d33b3e292c1933b7","f3296d07c6032d74","6bcf6d7bc0ffc907","a4c6a703e80bfcb1","fda02f6c39e105b2","7c23c47919bb9494","d7265d9177ae60c0","2553f46a68ee6e1f","c16ffd83ac043859"],"x":34,"y":259,"w":972,"h":182},{"id":"20e4a308de6db2d7","type":"group","z":"598935a336bc77d2","name":"Reset","style":{"label":true},"nodes":["add005acf2c86d2d","2be065ee16fa79d7","bfb603572202b194","726ea614e810f469","2c89e610d4ed3fc0"],"x":34,"y":599,"w":552,"h":142},{"id":"c2e1aa56f50f03bd","type":"ui-base","name":"Dashboard","path":"/dashboard","showPathInSidebar":false,"navigationStyle":"icon"},{"id":"e546b374f6f42e0e","type":"ui-group","name":"Ultrasonic Sensor","page":"520f012bcfbb2942","width":"12","height":"1","order":-1,"showTitle":true,"className":"","visible":"true","disabled":"false"},{"id":"0d1fe84ed7fcd121","type":"serial-port","name":"","serialport":"COM13","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"3000"},{"id":"520f012bcfbb2942","type":"ui-page","name":"Home","ui":"c2e1aa56f50f03bd","path":"/home","icon":"home","layout":"grid","theme":"8491b9e25153adda","order":1,"className":"","visible":"true","disabled":"false"},{"id":"8491b9e25153adda","type":"ui-theme","name":"Default","colors":{"surface":"#ffffff","primary":"#0094ce","bgPage":"#eeeeee","groupBg":"#ffffff","groupOutline":"#cccccc"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}},{"id":"eab038aff0960ceb","type":"ui-page","name":"Configuration","ui":"c2e1aa56f50f03bd","path":"/config","icon":"cog","layout":"grid","theme":"8491b9e25153adda","order":2,"className":"","visible":"true","disabled":"false"},{"id":"81c226657b6393e8","type":"ui-group","name":"Reset","page":"eab038aff0960ceb","width":"2","height":"1","order":-1,"showTitle":true,"className":"","visible":"true","disabled":"false"},{"id":"70eb29a163b8cbc9","type":"ui-text","z":"598935a336bc77d2","g":"7beb524bdf8c93b0","group":"e546b374f6f42e0e","order":0,"width":0,"height":0,"name":"Distance","label":"Distance:  ","format":"{{msg.payload}}","layout":"row-center","style":true,"font":"","fontSize":"150","color":"#000000","className":"","x":580,"y":80,"wires":[]},{"id":"f2432977c12323e5","type":"function","z":"598935a336bc77d2","g":"7beb524bdf8c93b0","name":"Parse as float","func":"msg.payload = parseFloat(msg.payload.slice(0,-1));\n\nif (msg.payload>30) {\n} else {\n    return msg;\n}\n\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":120,"wires":[["a49599bc04cd1bc8"]]},{"id":"a49599bc04cd1bc8","type":"ui-chart","z":"598935a336bc77d2","g":"7beb524bdf8c93b0","group":"e546b374f6f42e0e","name":"Chart","label":"","order":9007199254740991,"chartType":"line","category":"topic","categoryType":"msg","xAxisProperty":"","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"","ymin":"","ymax":"","action":"append","pointShape":"false","pointRadius":4,"showLegend":false,"removeOlder":1,"removeOlderUnit":"60","removeOlderPoints":"500","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"12","height":8,"className":"","x":590,"y":120,"wires":[[]]},{"id":"d6cf103e63c2dbc8","type":"function","z":"598935a336bc77d2","g":"7beb524bdf8c93b0","name":"Add ft.","func":"msg.payload = msg.payload + \"ft\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":80,"wires":[["70eb29a163b8cbc9"]]},{"id":"f737960cd73dd338","type":"serial in","z":"598935a336bc77d2","g":"7beb524bdf8c93b0","name":"","serial":"0d1fe84ed7fcd121","x":110,"y":120,"wires":[["d6cf103e63c2dbc8","f2432977c12323e5","8f4458b872e8173f"]]},{"id":"d33b3e292c1933b7","type":"status","z":"598935a336bc77d2","g":"4db7b23d8d725815","name":"Serial Status","scope":["f737960cd73dd338"],"x":130,"y":380,"wires":[["f3296d07c6032d74"]]},{"id":"e4693ef2338f6c3c","type":"catch","z":"598935a336bc77d2","g":"369e29461df146e1","name":"","scope":null,"uncaught":false,"x":120,"y":520,"wires":[["b0c3cfd95df1e3b1"]]},{"id":"f3296d07c6032d74","type":"function","z":"598935a336bc77d2","g":"4db7b23d8d725815","name":"Connection check","func":"if (msg.status.text==\"node-red:common.status.not-connected\") {\n    msg.payload=\"Device Disconnected\";\n} else if (msg.status.text==\"node-red:common.status.connected\") {\n    msg.payload=\"Device Connected\";\n}\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":380,"wires":[["a4c6a703e80bfcb1"]]},{"id":"6bcf6d7bc0ffc907","type":"ui-notification","z":"598935a336bc77d2","g":"4db7b23d8d725815","ui":"c2e1aa56f50f03bd","position":"top center","colorDefault":false,"color":"#ff0000","displayTime":"0","showCountdown":false,"outputs":1,"allowDismiss":true,"dismissText":"Close","raw":true,"className":"","name":"Disconnected","x":900,"y":400,"wires":[[]]},{"id":"a4c6a703e80bfcb1","type":"switch","z":"598935a336bc77d2","g":"4db7b23d8d725815","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Device Connected","vt":"str"},{"t":"eq","v":"Device Disconnected","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":380,"wires":[["d7265d9177ae60c0","c16ffd83ac043859"],["7c23c47919bb9494","c16ffd83ac043859"]]},{"id":"fda02f6c39e105b2","type":"ui-notification","z":"598935a336bc77d2","g":"4db7b23d8d725815","ui":"c2e1aa56f50f03bd","position":"bottom right","colorDefault":true,"color":"#000000","displayTime":"7","showCountdown":true,"outputs":1,"allowDismiss":true,"dismissText":"Close","raw":true,"className":"","name":"Connected","x":910,"y":360,"wires":[[]]},{"id":"7c23c47919bb9494","type":"function","z":"598935a336bc77d2","g":"4db7b23d8d725815","name":"Format","func":"msg.payload = \"<h1>\" + msg.payload + \"</h1>\" \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":400,"wires":[["6bcf6d7bc0ffc907"]]},{"id":"b0c3cfd95df1e3b1","type":"ui-notification","z":"598935a336bc77d2","g":"369e29461df146e1","ui":"c2e1aa56f50f03bd","position":"bottom right","colorDefault":true,"color":"#000000","displayTime":"300","showCountdown":false,"outputs":1,"allowDismiss":true,"dismissText":"Dismiss","raw":false,"className":"","name":"Error:","x":310,"y":520,"wires":[[]]},{"id":"d7265d9177ae60c0","type":"function","z":"598935a336bc77d2","g":"4db7b23d8d725815","name":"Format","func":"msg.payload = \"<h1>\" + msg.payload + \"</h1>\" \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":360,"wires":[["fda02f6c39e105b2"]]},{"id":"8f4458b872e8173f","type":"function","z":"598935a336bc77d2","g":"7beb524bdf8c93b0","name":"Format with time","func":"var d = new Date(); \nvar options = { timeZone: 'UTC', timeZoneName: 'long', year: 'numeric', month: '2-digit', day: '2-digit', hour: `2-digit`, minute: `2-digit`, second: `2-digit` }; \nvar _resultTime = d.toLocaleTimeString();\nmsg.payload = _resultTime + \",\" + msg.payload; \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":200,"wires":[["ac845c25460ab141"]]},{"id":"ac845c25460ab141","type":"file","z":"598935a336bc77d2","g":"7beb524bdf8c93b0","name":"","filename":"D:\\log.csv","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":580,"y":200,"wires":[[]]},{"id":"37e1a6e91bb4adbc","type":"link in","z":"598935a336bc77d2","g":"7beb524bdf8c93b0","name":"link in 1","links":["ec4fbd0d6c0d0e9f","bfb603572202b194"],"x":485,"y":160,"wires":[["a49599bc04cd1bc8"]]},{"id":"add005acf2c86d2d","type":"ui-button","z":"598935a336bc77d2","g":"20e4a308de6db2d7","group":"81c226657b6393e8","name":"Reset","label":"Reset Plot and File","order":0,"width":0,"height":0,"emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"true","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":640,"wires":[["2be065ee16fa79d7","726ea614e810f469"]]},{"id":"2be065ee16fa79d7","type":"function","z":"598935a336bc77d2","g":"20e4a308de6db2d7","name":"Clear plot","func":"if (msg.payload) {\n    msg.payload = [];\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":640,"wires":[["bfb603572202b194"]]},{"id":"bfb603572202b194","type":"link out","z":"598935a336bc77d2","g":"20e4a308de6db2d7","name":"link out 1","mode":"link","links":["37e1a6e91bb4adbc"],"x":415,"y":640,"wires":[]},{"id":"726ea614e810f469","type":"function","z":"598935a336bc77d2","g":"20e4a308de6db2d7","name":"Format","func":"if(msg.payload) {\n    var d = new Date(); \n    var _resultTime = d.toLocaleTimeString();\n    msg.payload = _resultTime + \", reset\"; \n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":700,"wires":[["2c89e610d4ed3fc0"]]},{"id":"2c89e610d4ed3fc0","type":"file","z":"598935a336bc77d2","g":"20e4a308de6db2d7","name":"Reset CSV","filename":"D:\\log.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":490,"y":700,"wires":[[]]},{"id":"2553f46a68ee6e1f","type":"file","z":"598935a336bc77d2","g":"4db7b23d8d725815","name":"","filename":"D:\\log.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":880,"y":300,"wires":[[]]},{"id":"c16ffd83ac043859","type":"function","z":"598935a336bc77d2","g":"4db7b23d8d725815","name":"Format with time","func":"var d = new Date(); \nvar options = { timeZone: 'UTC', timeZoneName: 'long', year: 'numeric', month: '2-digit', day: '2-digit', hour: `2-digit`, minute: `2-digit`, second: `2-digit` }; \nvar _resultTime = d.toLocaleTimeString();\nmsg.payload = _resultTime + \",\" + msg.payload; \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":300,"wires":[["2553f46a68ee6e1f"]]}]